{% extends 'main/header.html' %}

{% block content %}
<head>
    <title>The Night Light</title>
</head>

<body style = "background-color: black">
    <h1 style="color: red">He Wasn't there ☠ </h1>
    <p style="color: red">
We were 4 people living in a flat during our last year of graduation. I, Pranav, Mishra and Yash. Usually we were like the typical roommates who talked to each other once in a while, would rarely come out of our rooms. It was a 3BHK flat where I and Pranav had our individual rooms while Yash and Mishra shared the 3rd room.<br><br>

One day a cyclone struck the coast of West Bengal and once the electricity was gone, then that brought us out of our mobile phones and social world and bond with each other. We would play stupid games and share dirty secrets. A couple of days passed like that and then a lane before our apartment received the electricity. Luckily our other college friends lived in a flat in that lane. So we went there to charge our laptops and mobile phones. Since we were bonding and we all wanted to have a movie night. So it was decided we were gonna watch a movie at night. But before that we have to get all our essentials like milk and snacks. So at eve around 7 we were headed to the market. Pranav didn’t join us. When asked he replied it’s too hot out there and he’ll directly join us during the movie. I was like "well okay Princess your wish is my command" but I didn’t want to get in a fight so ignored.<br><br>

We came back, had our dinner then Pranav arrived. We started this movie which was a thriller/action and it was a good one. After the movie ended we went out to the balcony which was by Pranav’s room. Sat there and talked. By the time the talks ended it was 3 am. I remembered the time correctly because I then said to myself how am I gonna sleep, now that it’s the ghost hour. I was just lying there with eyes wide open waiting for the clock to strike 4 or the sun to rise. That would have given me courage to close my eyes. Just as I was falling asleep Pranav came to my room with a cigarette. I usually light the cigarette while sitting on my chair near the window. But my chair wasn’t there. It was in the balcony. So I got up to fetch it and I saw someone was sitting on my chair. I went nearer to have a closer look. It was Pranav ! Just sitting there with closed eyes. I might have had a heart attack seeing that scene.<br><br>

At first I thought if it was a prank. But there was no way he reached the balcony faster than me that too without me noticing. Now I had two choices, either to run back to my room or wake the one sitting on my chair. I still didn’t understand who the real one was, the one in my room or the one in front of my eyes. So I decided to take the 3rd option and fainted. After a couple of hours when the sun came up I opened my eyes and I was lying down in the balcony. I went running to my room and Pranav wasn’t there. I went to Mishra’s room and he was awake playing pubg. I said him the whole story and I was shocked to hear his reply.<br><br>

He said, “Pranav never returned from our friend’s flat. He stayed there all night and only we 3 were watching the movie” 

</p>
</body>

{% endblock %}