{% extends 'main/header.html' %}

{% block content %}
<head>
    <title>The Night Light</title>
</head>

<body style = "background-color: deepskyblue">
<h1>The Night Light ✨ </h1>
    <p>
So finally all we cousins met at this marriage. Otherwise for the last 5 years it was just on funerals where we were happy to see each other but couldn’t express it and the loss of a life ofc. Everyone had their stories to share about passing the boards, first love, recent breakup, adventure trips and all. <br><br>

Among the crowd, which was a lot, we took a room for ourselves so that no one disturbs us and we don’t come in their way which is the main reason I guess.<br><br>

We were setting up everything and then came this sweet girl wearing a long white gown looking like a princess (just exaggerating). Since we all met here for a common cause we all assumed she must be a distant cousin but our group of mostly boys wanted to have their shot at her. We played some games then my di and she danced. Everyone was happy. Hadn’t seen this in years. I was happy too.<br><br>

I never really looked at this girl because maybe I was playing hard to get or was I shy ? Don’t really know. We all then had lunch and then took a nap, some got busy with their mobile phones some just talked with each other.<br><br>

In the eve when the sun was about to set, it started to rain partly. I asked her if she wanted to go on a ride. She said, “Yeah sure.”<br>

“Car or bike ?” - I asked.<br>

“Bike.“ - She blushed.<br><br>

I was kind of surprised why she said bike because it might rain heavily later. But anyway I went to the parking lot only to meet my aunt asking for a lift to take her back home. Tough call people but we all have to do the “right thing” right. So I sent a message through one of my cousins to ask her to wait for a while.<br><br>

I took off, dropped my aunt while returning, it stuck in my mind that if we get caught up in a moment or if I get caught up in a moment and she says, “Hey I’m your sister” that’d be the worst thing happening to me. But also what’s with all the flirtings while we were playing. I was really confused as to what to do. It started to rain heavily and roads got slippery. I wasn’t able to see the road clearly but I know she was waiting for me and I have to reach asap and with all these thoughts running in my mind I suddenly hit my bike w the road divider. I was pretty sure I hit my head real hard and then I passed out.<br><br>

 

The next thing I remember was that I was in the house. As I passed by I saw these aunties sharing pictures and laughing and my younger cousins playing games but my eyes were looking for that girl. As I came out of the house I saw her properly for the first time in the whole day. It was dark and she was holding this umbrella. She was real impatient and God o God how precious was she looking ! <br><br>

 

She was waiting for me but little did she know that she will have to wait for me forever.<br><br>

Because I am dead !</p>
</body>

{% endblock %}